
<h3 style='margin-top:130px'>Add new file to download</h3>
<form action="/dl" method="get" class="form-inline" >

	<label class="sr-only" for="inlineFormInput">URL</label>
	<input type="text" name='url' class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="URL">

	<label class="sr-only" for="inlineFormInputGroup">MD5</label>
	<input type="text" name='md5' class="form-control" id="inlineFormInputGroup" placeholder="MD5">

	<button type="submit" class="btn btn-primary ml-2">Download &raquo;</button>

</form>